/*WRAPPER */
#numWrap {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0; left: 0;
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
#numWrap.open {
  opacity: 1;
  visibility: visible;
  z-index: 999999;
}

/*NUMPAD */
#numPad {
  max-width: 350px;
  background: #eaeaea;
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  padding: 10px;
}

/*DISPLAY */
#numDisplay {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #c1c1c1;
  color: #000;
  font-size: 42px;
  text-align: right;
}
#numDisplay:focus { outline: none; }
#numDisplay::selection { background: none; }

/*BUTTONS WRAPPER */
#numBWrap {
  text-align: center;
}

/*BUTTONS */
#numBWrap div {
  box-sizing: border-box;
  display: inline-block;
  font-size: 24px;
  color: #000;
  text-align: center;
  padding: 20px;
  border: 1px solid #c1c1c1;
  text-align: center;
  width: 74px;
  height: 74px;
  margin:4px;


  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#numBWrap div:hover { 
  cursor: pointer; 
}

#numBWrap div:active { 
  background: #222; 
}


#numBWrap .num, #numBWrap .zero, #numBWrap .dot {
   background: #fff; 
}

#numBWrap .del, #numBWrap .clr { background: #ffecd7; }
#numBWrap .cx { background: #ffdada; }
#numBWrap .ok { 
  background: #e7f3ff;
  width: 240px;
}


@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  /* src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf); */
  src: url(/password.ttf);
}

input.securityKeyHidden {
  font-family: 'password';
}


